/* 
    Document   : mob_fc_basic
    Created on : 05-Sep-2011, 12:38:10
    Author     : Jura
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Makeshift CSS Reset */
{
    margin: 0;
    padding: 0;
}

/* Tell the browser to render HTML 5 elements as block  */
header, footer, aside, nav, article {
    display: block;
}

header > h1 {
    margin-top: 45px;
    text-align: center;
    color: green;
    text-shadow: 0px -1px 3px #000;
}

html, body {
    background: yellow;
    padding: 3px;
    color: #008000;
    margin: 0 auto;
    font: 30px/60px Helvetica, Arial, sans-serif;
}